*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #c3e697;
    font-family: Arial, sans-serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    /* border: 3px solid greenyellow; */
}
.text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3.5rem;
    font-weight: bold;
    /* font-style: italic; */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    /* border: 3px solid greenyellow; */
}

.image-container {
    border: 50px solid #cff304;
    padding: 10px;
    background-color:  #8ed9f0;
    box-shadow: 0 4px 8px rgba(238, 5, 5, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    border: 3px solid rgb(255, 0, 0);
}

.image-container img {
    max-width: 100%;
    height: 240px;
    /* width: 50px; */
    display: flex;
    border: 3px solid rgb(0, 253, 34);
}

.image-container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 3px solid rgb(7, 7, 7);
}